.loginform {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	color: #3D3D3D;
	gap: 12px;
	order: 3;
	width: 60vw;
	max-width: 500px;
}

.loginform header {
	color: #3D3D3D;
}

.loginform__inputs {
	display: flex;
	flex-direction: column;
	gap: 12px;
	order: 3;
	width: 60vw;
	max-width: 500px;
}

.loginform input {
	box-sizing: border-box;
	border-radius: 8px;
	align-items: flex-start;
	align-self: stretch;
	height: 30px;
}

input:placeholder-shown {
	padding: 0px 5px ;
	border: 1px solid #C4C4C4;
}

.loginform button {
	background: #4363DA;
	border: 1px solid #4363DA;
	opacity: 0.5;
	border-radius: 8px;
	align-items: flex-start;
	align-self: stretch;
	height: 28px;
	justify-content: center;

	font-weight: 500;
	font-size: 16px;
	color: #FFFFFF;
	align-items: center;
	cursor: pointer;
}


.loginform button:focus {
	opacity: 1.0;
}

