.loginform__container {

/*  border: 2px dashed #C4C4C4;*/

    position: absolute;
    top: 12%;
    height: 80%;
    width: 80%;


    display: flex;
    flex-direction: column;
    align-items: center;
    color: #3D3D3D;


}

.loginform {
/*  border: 2px solid orange;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    position: relative;
    width: 100%;
    height: 100%;
    font-family: var(--root-font-family);
}

.loginform header {
    font-weight: 400;
    font-size: 16px;
    color: #3D3D3D;
}

.loginform__inputs {

/*  border: 3px solid green;*/

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    position: absolute;
    top: 10%;

    height: 40%;
    width: 100%;
    
}

.loginform__inputs div {

/*  border: 3.5px solid purple;*/

    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;

    width: 100%;
    height: 35%;

    position: relative;

}


.loginform__inputs div label {
    font-size: 8px;
    height: 10%;

    position: relative;

}

.loginform__inputs div input {

    height: 50%;
    width: 100%;
    border: 1px solid #C4C4C4;
    border-radius: 8px;

}



.loginform button {
    background: #4363DA;
    border: 1px solid #4363DA;
    opacity: 0.5;
    border-radius: 8px;

    align-items: flex-start;
    justify-content: center;
    align-items: center;

    height: 28px;
    bottom: 20%;

    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
    cursor: pointer;
}


.loginform button:hover {
    opacity: 1.0;
}



