.app-login {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0px;

	position: center;
	font-family: 'Helvetica Neue';
	font-style: normal;

}

.app-login__welcome {

	font-weight: 700;
	font-size: 24px;
	
	color: #4363DA;
}

