:root {
    --primary-600: hsla(227, 67%, 56%, 1);
    --primary-500: hsla(227, 67%, 64%, 1);
}


.app-login {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

.app-login img {
  height: 100vh;
}

/*media queries for responsive design*/

@media screen and (max-width: 920px){

  .app-login {
    justify-content: center;
  }
  .app-login img{
    display: none;
  }
}