:root {
    --primary-600: hsla(227, 67%, 56%, 1);
    --primary-500: hsla(227, 67%, 64%, 1);
}


.app-login {
    position: relative;
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
